.Search {
    height: 100vh;
}

.FormControls {
    > div {

        &:first-child {
            margin-right: 2rem;
        }

        width: 30rem;
        display: inline-block;
    }
}

.Results {
    margin-top: 1rem;
}